h1{
  color: gray;
  background-color: black;
  font-family: fantasy;
}
h2{
  color: navy;
  background-color: lightgray;
  font-family:monospace;
}
body{
  background-color: lightgray;
  color: black;
}
